@use 'src/styles/vars';

.create-project {
  &--align-right{
    display: flex;
    justify-content: flex-end;
  }
  &--compact{
    margin: 0 !important;
    padding: 0 !important;
  }
}

.create-button{
  background-color: vars.$color-alt !important;
  color: #fff !important;
}

.header-project{
  color: vars.$color !important;
}
