@use 'src/styles/vars';

.list-map {
    z-index: 0 !important;
    height: 35vh !important;
    width: 100% !important;
    margin-bottom: 0.5rem !important;
    &--popup{
      box-sizing: border-box !important;
      width:20rem !important;
    }
    &--card{
      box-sizing: border-box !important;
      width: auto !important;
      margin: 0.25rem !important;
      &--cell{
        box-sizing: border-box !important;
        padding: 0rem 0.5rem !important;
        margin: 0 !important;
      }
    }
}
.leaflet-popup-content{
  margin: 0.25rem !important;
}

