@use 'src/styles/vars';

.project-menu {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: none !important;
  padding: 0rem 0rem !important;
  width: fit-content !important;
  &--go-back-button {
    color : vars.$color !important;
  }
  &--edit-button {
    background-color: vars.$color-alt !important;
    color: #fff !important;
  }
  &--item {
    padding: 0 0 !important;
  }
}
