@use 'src/styles/vars';

.footer {
    flex-grow: 0 !important;
    flex-shrink: 0!important;
    flex-basis: content;
    padding: 0.25rem !important;
    &--padded{
      padding: 0 1rem !important;
    }
}
