@use 'src/styles/vars';

.footer {
    flex-grow: 0 !important;
    flex-shrink: 0!important;
    flex-basis: content;
    padding: 0.25rem !important;
    background-color: #6B8E23!important;
}

.icon-team {

}