@use 'src/styles/vars';

.needs {
  background-color: white !important;
  border-radius: 0.5rem !important;
  border: 2px solid vars.$color !important;
  &--icon{
    &--unfulfilled{
      color: gray !important;
    }
    &--filled{
      color: vars.$color-alt !important;
    }
  }
  &--checkbox--big-size{
    transform: scale(1.5) !important;
  }  
}
