@use 'src/styles/vars';

.menu {
    background-color:vars.$color !important;
   
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: content;

    &__header{
      padding-left: 0 !important;
    }

    &--shadow {
      box-shadow: vars.$box-menu-shadow !important;
    }
    
    &--dropdown {
      background-color: vars.$color-menu-dropped !important;
      box-shadow: vars.$box-shadow !important;
      z-index:0;
    }
    
}

