@use 'src/styles/vars';

.menu {
    background-color:#6B8E23!important;
    flex-grow: 0 !important;
    flex-shrink: 0!important;
    flex-basis: content;
    &__header{
      padding-left: 0 !important;
    }
}
.Menu-Dropdown {
  background-color: rgb(154,205,50, 0.5)!important;
}