@use 'src/styles/vars';

.search-project {
  &__perimeter-label{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-end !important;
    padding: 0.5rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  &--marged-top{
    margin-top: 1rem !important;
  }
}
.search-project-form {
background-color: rgb(154,205,50, 0.5)!important;
box-shadow: 5px 5px 5px 2px rgba(61,82,43,1)!important;
}