@use 'src/styles/vars';

.search-project {
  &__perimeter-label{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-end !important;
    padding: 0.5rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  &--marged-top{
    margin-top: 1rem !important;
  }
  &--icon-color{
    color : vars.$color !important;
    background-color: none !important;
    background: none !important;
    opacity: 1 !important;
  }
  &--button-color{
    color : vars.$color !important;
    background-color: rgba(255, 255, 255, 0.80) !important;
    background: rgba(255, 255, 255, 0.80) !important;
    opacity: 1 !important;
    border: 2px solid transparent !important;
    &:hover{
      border: 2px solid vars.$color !important;
    }
  }
}


