@use 'src/styles/vars';

.description {
  &--marged-top{
    margin-top: 0.5rem !important;
  }
  &--marged-none{
    margin: 0 !important;
    padding: 0 !important;
  }
}

.content>.header {
  font-size: 2rem !important;

  >.icon {
    margin-left: 1rem !important;
  }
}
