@use 'src/styles/vars';

.home {

&-search {
  color: vars.$color-alt !important;
}
  width: 70%  !important;
  margin: auto !important;
  &--map {
    height: 200px !important;
    width: 200px !important;
  }
}

.slider {
  padding: 0.3rem !important;
}

.header-title {
  color:vars.$color-alt !important;
}
