@use 'src/styles/vars';

.header-home{
  &--row-computer-padded{
    padding: 5rem !important;
  }
  &--row-mobile-padded{
    padding: 1.5rem 1rem !important;
  }
 
}

.steps-group{
  &-computer{
    box-shadow: .5rem .5rem .3rem vars.$color-alt !important;
  }
  &-mobile{
    box-shadow: .5rem .5rem .3rem vars.$color-alt !important;
  }
}

.icon-colors {
  color : vars.$color !important;
}

