@use 'src/styles/vars';

.header-home{
  &--row-computer-padded{
    padding: 5rem !important;
  }
  &--row-mobile-padded{
    padding: 1.5rem 1rem !important;
  }
 
}

.steps-group{
  &--shadow{
    box-shadow: 2px 2px 3px vars.$color-alt !important;
  }
}

.icon-colors {
  color : vars.$color !important;
}

