@use 'src/styles/vars';

.header-home{
  &--row-computer-padded{
    padding: 5rem !important;
  }
  &--row-mobile-padded{
    padding: 1.5rem 1rem !important;
  }
 }

.steps-group{
  &--shadow{
    box-shadow: vars.$box-shadow !important;
  }
}

.icon-colors {
  color : vars.$color !important;
}

