@use 'src/styles/vars';

.app {
  flex-grow: 1 !important;
  width: 100% !important;
  padding-top: 0 !important;
  padding-bottom: 1rem !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  margin-top: 0 !important;  
  &--menu-container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: flex-end !important;
    justify-items: flex-end !important;
  }
}
