<<<<<<< HEAD
$color: #06659c;
$color-alt:/* #4EB86B */  #008B8B  ;
$color-light: /* #d4ecbf  */	#fdfde4;
=======
$color: #008B8B;
$color-alt:  #06659C  ;
$color-boxes: rgb(154,205,50, 0.5);
$color-light:  #FDFDE4;
$box-shadow: 0px 5px 5px 0px #426a75;
$box-menu-shadow: -1px 3px 3px #426a75;
$color-menu-dropped: rgb(224,255,255, 0.95);
>>>>>>> da56d647439e55cda66dc4773364166ef288b419
