<<<<<<< HEAD
$color-secondary: #FAFAD2;
$color-primary: #008B8B;
$color-button: #4682B4;
=======
$color: #06659c;
$color-alt:/* #4EB86B */  #008B8B  ;
$color-light: /* #d4ecbf  */	#fdfde4;

>>>>>>> b9cea2c0b827666c62cdd79c3db72f75960f1db9
