@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  margin:0;
  padding: 0;
  
}

#root{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('../assets/images/fond vagues3.svg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
