@use 'src/styles/vars';

.project-card {
  &--padding-mobile{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  &--marged-top{
    margin-top: 0.5rem !important;
  }
  &--fullwidth{
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
  &--picture:hover{
    box-shadow: 0px 0px 2px 2px vars.$color-alt !important;
  }
  &--fullwidth{
    font-size: 20px !important;
  }
}

.header-project-title {
  &:hover {
    color: vars.$color-alt !important;
  }
}
